*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: #C8DAF2;
}
.container{
    width: 480px;
    height: 1030px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 5px;
    border-radius: 5px;
}
#header{
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}
.form{
    margin-bottom: 20px;
    margin-left: 40px;
}
.header{
    display: block;
    font-weight: 600;
    padding-bottom: 15px;
}
.gender{
    display: block;
    font-weight: 600;
    padding-bottom: 15px;
}
input[type="radio"]{
   margin-left: 5px;
   margin-right:5px;
}
.name{
    margin-right: 10px;
}
.degree{
    padding: 5px;
    width: 83%;
}
input[type="text"],
input[type="email"]{
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
}
input[type="number"]{
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    width: 80%;
}
input[type="checkbox"]{
    margin-bottom: 10px;
    margin-left: 50px;
}
.course{
    margin-left: 8px;
}
.area{
    padding: 10px;
    font-weight: 500;
    width: 80%;
}
#btn{
    text-align: center;
}
button{
    padding:10px 25px;
    border: none;
    background-color: #3dd938;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}